<!DOCTYPE html>
<html ng-app>
<head>
    <script src="js/angular-1.2.20.js"></script>
    <script src="js/underscore-1.6.0.js"></script>
    <script src="todo.js" type="text/javascript"></script>
    <link rel="stylesheet" href="css/bootstrap-3.2.0/css/bootstrap.css"/>
    <link rel="stylesheet" href="todo.css"/>
</head>
<body>
<div ng-controller="TodoCtrl">
    <h2> Total Todos: {{getTotalTodos()}}</h2>
    <ul class="list-unstyled">
        <li ng-repeat="todo in todos">
            <label>
                <input type="checkbox" ng-model="todo.done"/>
            </label>
            <span class="done-{{todo.done}}">{{todo.text}}</span>
        </li>
    </ul>
    <form class="form-horizontal">
        <label>
            <input type="text" ng-model="formTodoText">
        </label>
        <button class="btn" ng-click="addTodo()"><i class="glyphicon-plus"></i>Add</button>
    </form>
    <button class="btn-large" ng-click="clearCompleted()"><i class="glyphicon-trash"></i>Remove completed</button>
</div>
</body>
</html>

